.login {
  margin: auto;
  width: 375px;
  height: 100%;
  /* border: 1px solid black; */
  border: double 1px transparent;
  border-radius: 7px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #c11efc, #518ef8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.welecome-text {
  margin: 30px;
  font-size: 30px;
  background: linear-gradient(to right, #c11efc, #518ef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
form {
  display: grid;
  flex-direction: column;
  justify-content: center;
}
.inpute-filled {
  margin: 10px;
  width: 350px;
  height: 50px;
  border: double 1px transparent;
  border-radius: 7px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #c11efc, #518ef8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
form p {
  color: grey;
  font-size: small;
  text-align: end;
  margin-left: 20px;
}
.login-button {
  margin: 10px 10px;
  width: 350px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 7px;
  background: linear-gradient(to right, #c63acd, #518ef8);
}
.social-login {
  display: flex;
  flex-direction: row;
  font-size: small;
}
.social-login:before,
.social-login:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto 20px;
}
.social-login:before {
  margin-right: 10px;
  color: #c11efc;
}
.social-login:after {
  color: #518ef8;
  margin-left: 10px;
}
.social-box {
  margin-bottom: 10px;
  width: 100px;
  height: 50px;
  border: double 1.5px transparent;
  border-radius: 7px;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom, #cf74d4, #518ef8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.text {
  margin-top: 8px;
  text-align: center;
}
.social-link {
  display: flex;
  justify-content: space-evenly;
}
.registration {
  font-size: small;
  text-align: center;
}
.but_sec button {
  width: 214px;
  height: 64px;
  display: flex;
  font-size: 20px;
  padding: auto;
  border: double 1px transparent;
  border-radius: 7px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #c11efc, #518ef8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
